.home-container {
  display: flex;
  align-items: flex-start;
  height: 100vh; /* Set the height of the container to the full height of the viewport */
  overflow: hidden; /* Enable scrolling when content overflows the container */
}

.logs-container,
.legs-container {
    flex: 0 0 48%; 
    padding: 16px;
    padding: 1rem;
    overflow-y: auto; /* Enable vertical scrolling when content overflows the container */
    max-height: 100vh; /* Set the max-height of the containers to the full height of the viewport */
   
}

.logs-container {
  border-right: 1px solid #ccc;
  flex-direction: row-reverse;
}
