.log-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center ;
  }
  
  .log-card {
    max-width: 15rem;
    max-height: min-content;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.3rem;
    cursor: pointer;
    transition: max-height 0.5s, box-shadow 0.3s;
  }
  
  .log-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .log-card.expanded {
    max-height: fit-content;
  }
  